<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Eff-Vocab Viewer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="app">
        <header>
            <h1 class="title">Eff-Vocab Viewer</h1>
        </header>
        <form method="POST">
            <div class="form-group">
                <label for="start_index">시작 번호:</label>
                <input type="number" name="start_index" value="1" min="1" max="{{ max_index }}">
            </div>
            <div class="form-group">
                <input type="checkbox" id="is_shuffle" name="is_shuffle">
                <label for="is_shuffle">단어 섞기 (Shuffle)</label>
            </div>
            <button type="submit" class="primary">시작</button>
        </form>
    </div>
</body>
</html>