<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Summary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="app">
        <header>
            <h1 class="title">학습 결과</h1>
        </header>

        <div class="screen-info">
            <span id="counter">{{ final_progress }}</span>
            <div class="timer-controls">
                <span id="timer-text">{{ total_time }}</span>
            </div>
        </div>

        <div class="summary-content">
            <p>시작 인덱스: {{ start_idx }}</p>
            <p>총 학습 단어: {{ total_studied }}</p>
            <p>Pass한 단어: {{ passed_count }}</p>
            <p>실제 학습 단어: {{ final_progress }}</p>
            <p>총 학습 시간: {{ total_time }}</p>
            <p>총 휴식 시간: {{ pause_time }}</p>
        </div>
        <div class="controls">
            <a href="{{ url_for('index') }}"><button>다시 시작</button></a>
        </div>
    </div>
</body>
</html>